<module id="my-module" preload="all">
    <components>
        <class name="MapButton" alias="mapbutton" />
        <class name="MapList" alias="maplist" />
        <class name="LabelOutlined" alias="labeloutlined" />
    </components>
    <themes>
    	<global>
		    <style resource="assets/styles/quakey.css" />
	    </global>
    </themes>
</module>